project_note.md

/config
/logs
.env
/plugins
/data_staging

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env
*.env

# Airflow logs and configs
logs/
config/
data_staging/
plugins/__pycache__/

# Docker

*.pid

# Database and data files
*.db
*.sqlite3
*.csv
*.tsv
*.parquet


.aws/
